{% load common %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	<link rel="apple-touch-startup-image" href="/static/images/apple-touch-startup-image.png"/>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"/>

	<title>Budget</title>
	{% css 'jquery.mobile-1.3.2.min.css' %}
	{% css 'budget.css' %}

	{% js 'jquery-1.10.1.min.js' %}
	{% js 'jquery.validate.min.js' %}
	{% js 'additional-methods.js' %}
	{% js 'jquery.mobile-1.3.2.min.js' %}
	{% js 'underscore-min.js' %}
	{% js 'backbone-min.js' %}
    {% js 'handlebars-v1.1.2.js' %}

	{% js 'application.js' %}
	{% js 'form.js' %}
	{% js 'expenses.js' %}
    {% js 'handlebars-helpers.js' %}

</head>

<body>
	{% csrf_token %}
    {% verbatim %}
	<div id="home" data-role="page" role="main">
		<div data-role="header">
			<h1>Total:</h1>
			<a href="#preferences" data-iconpos="notext" class="preferences ui-icon-bars ui-btn-corner-all ui-btn-up-a ui-shadow" data-icon="bars" data-role="button" data-inline="true" data-transition="slideleft">Preferences</a>
			<a href="#update" class="add-expense" data-iconpos="notext" data-role="button" data-inlne="true" data-transition="slideup" data-icon="plus" class="ui-btn-right">Add</a>
		</div>
		<div data-role="content">
			<ul id="expense-list" data-role="listview">
			</ul>
		</div>
	</div>

	<script type="text/x-handlebars-template" id="home-page">
		Total: <span class="{{amountType total}}">{{formatCurrency total}}</span>
	</script>

	<script type="text/x-handlebars-template" id="list-page">
		{{#each expenses}}
			{{dateDivider created_at}}
			<li>
				<a href="#update" class="update-expense" data-expense-index="{{@index}}">{{description}}</a>
				<span class="ui-li-count {{amountType amount}}">{{formatCurrency amount}}</span>
			</li>
        {{/each}}
		{{#ifPagination model}}
            <li id="load-more">
                <a href="#" id="more-expenses">
                    Load more expenses...
                    <div>{{remaining}} expenses remaining, {{total}} total</div>
                </a>
            </li>
        {{/ifPagination}}
	</script>

	<!-- New/Edit an expense -->
 	<div id="update" class="form" data-add-back-btn="true" data-role="page">
		<div data-role="header">
			<h1>Enter Expense</h1>
		</div>

		<div data-role="content">
			<form name="update" id="update-expense" method="post" action="#">
			</form>
		</div>
	</div>

	<script type="text/x-handlebars-template" id="add-page">
		<ul data-role="listview" data-inset="true">
			<li>
				<input type="text" name="description" class="required" placeholder="Item Description" id="desc" value="{{expense.description}}">
			</li>
			<li>
				<input type="number" name="amount" placeholder="$0.00" class="required number" id="amount" step="0.01" value="{{expense.amount}}">
			</li>
			<li>
				<input type="checkbox" name="deposit" {{#if expense.amount}}checked{{/if}}>
				<label class="deposit-label">Deposit?</label>
			</li>
		</ul>
        <button type="submit" data-rel="save" id="save" data-theme="b">{{#if expense.created_at}}Update Expense{{else}}Add Expense{{/if}}</button>
		{{#if expense.created_at}}
			<button type="submit" data-rel="delete" id="delete" data-theme="e">Delete Expense</button>
        {{/if}}
	</script>
    {% endverbatim %}
</body>
</html>
