#jqt ul li small.negative, .negative {
	color: #c1272d;
}

#jqt ul li small.positive, .positive {
	color: #8cc63f;
}
.deposit-label {
    float: right;
    margin-top: -10px;
}
li:last-child:after {
    content: " ";
    display: block;
    clear: both;
}

label.error {
	color: #ff3333;
}
.ui-slider {
    float: left;
}
label.ui-slider {
    display: inline;
    margin-left: 20px;
    line-height: 2.5em;
}

#home ul li a.active {
	color: #000;
}

ul li a.active {
	background: #fff url(../images/spinner2.gif) 100% 50% no-repeat;
}

#load-more a {
	color: #0066ff;
}
#load-more a div {
	font-size: 12px;
	color: #999999;
}

#jqt .error-msg {
    display: none;
    margin: 10px 20px 6px;
    background-color: #d75f5f;
    color: #F0F0F0;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid red;
    font-weight: bold;
}

#jqt .error-msg ul {
    color: #f0f0f0;
    border: 0;
    background: 0;
    text-shadow: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
#jqt .error-msg ul li {
    padding: 4px;
    border: 0;
    background: 0;
    text-shadow: none;
}

#loading {
    width: 48px;
    height: 48px;
    padding: 10px;
    background: #FFF url('/static/images/loading.gif') 10px 10px no-repeat;
    border: 2px solid #000;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 99;
}
#jqt .toolbar .left {
    left: 10px;
    right: auto;
}
#jqt .toolbar .primary {
    background-image: -webkit-linear-gradient(top, #72a6ec, #458ae6 50%, #2f7ce3 51%, #1d6fdb);
    background-image: linear-gradient(top, #72a6ec, #458ae6 50%, #2f7ce3 51%, #1d6fdb);
}
